{% extends 'base.html' %}

{% block title %}Choose your Survey{% endblock %}

{% block h1 %}Choose your Survey{% endblock %}

{% block content %}
    <form action="/" method="POST" name="survey_name">
        <label for="survey">Choose your survey to get started:</label>
                <select name="survey_name">
                {% for name, type in surveys.items() %}
                <option value="{{ name }}">{{ type.title }}</option>
                {% endfor %}
            </select>
        <p><button>Submit</button></p>
    </form>
{% endblock %}